#addEventButton{
    margin-top: 2vw;
    font-size: 2vw;
    padding: 0.5vw 2.5vw;
}
.event-day-title{
    display: inline-block;
    margin: 5% 0 0 5%;
}

.event-wrapper{
    display: inline-block;
    width: 50%;
    margin: 1% 1%;
    aspect-ratio: 2/1;
    border: 1px solid white;
    position: relative;
    left: 10%;
    padding-bottom: 5vh;
}

.event-wrapper .time{
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    font-weight: 600;
    color: white;
}
.event-wrapper .desc{
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
}

.event-wrapper .delete-button{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0.5%;
    width: 49%;
    font-size: 2vw;
    font-weight: 600;
    height: 5vh;
    background-color: rgb(177, 6, 6);
    cursor: pointer;
    user-select: none;
}
.event-wrapper .edit-button{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0.5%;
    width: 49%;
    font-size: 2vw;
    font-weight: 600;
    height: 5vh;
    background-color: rgb(252, 241, 195);
    cursor: pointer;
    user-select: none;
}

#addEventForm{
    display: inline-block;
    width: 50vw;
    height: 50vh;
    background-color: rgba(107, 107, 107, 0.459);
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 2%;
}
#addEventForm div{
    margin-top: 2%;
}
input{
    display: inline-block;
    height: 2vw;
    font-size: 1.2vw;
}
#eventDesc{
    width: 100%;
}
input[type="submit"]{
    padding: 0 2vw;
    border-radius: 5px;
    cursor: pointer;
}
label[for="loginPass"]{
    font-family: "Roboto", monospace;
    font-size: 1.5vw;
}
.form-error{
    margin-top: 1vw;
    color: red;
    font-family: "Roboto", monospace;
    font-size: 1.5vw;
    border-bottom: 1px solid #ccc;
    padding: 0.2vw;
    background-color: rgba(0,0,0,0.3);
}