/*
 Program: nav.css
 Creator: William Bojczuk (wiliambojczuk@gmail.com)
 Github: https://github.com/wbojczuk
*/

/* - Navbar */
#mainNav{
    display: flex;
    width: 100%;
    top:2vh;
    justify-content: center;
    margin-top: 3.5vh;
    z-index: 999;
}
#mainNav2{
    display: none;
    position: fixed;
    width: 100%;
    top:0;
    justify-content: center;
    z-index: 999;
    margin-top: 0;
    padding: 0.8vw 0;
    background-color: #161719de;
}
#mainNav a, #mainNav2 a{
    font-size: 1.2vw;
    font-family: monospace;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin: 0 1vw;
    transition: 0.2s color ease-in-out;
    position: relative;
    cursor: pointer;
}
#mainNav a:hover, #mainNav2 a:hover{
    color: rgb(173, 173, 173);
}
.activePageLink{
    border-bottom: 2px solid white;
}

/* Dropdown Link Styles */
.dropdown-link::after{
    content: "";
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background-image: url("../img/caret-down.svg");
    background-size: 100%;
    color: white;
    position: absolute;
    right: -1.1vw;
    bottom: 0.1vw;
}

.dropdown-link ul{
    color: white;
    display: none;
    position: absolute;
    width: 7vw;
    padding: 0.1vw 0.5vw 0.5vw 0.5vw;
    font-size: 0.8vw;
    background-color: #012a46;
    list-style-type:none;
    left:0;
    top:100%;
}
/* Hover Box */
.dropdown-link ul::after{
    content: '';
    cursor: default;
    display: inline-block;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: -999;
}
/* .dropdown-link ul.four{
    transform: translateY(23%) translateX(-85%);
}
.dropdown-link ul.three{
    transform: translateY(30%) translateX(-85%);
}
.dropdown-link ul.two{
    transform: translateY(43%) translateX(-65%);
} */
.dropdown-link ul li{
    padding: 0.2vw 0;
    border-bottom: 1px solid rgb(218, 218, 218);
    width: 100%;
}
.dropdown-link ul li:hover{
    color: black;
    
}


/* Mobile Styles */
@media only screen and (max-width: 600px) {
    #mainNav{
        display: inline-block;
        width: 100vw;
        height: 80vh;
        background-color: #161719e0;
        position: fixed;
        top: 6vh;
        left: -100vw;
        margin-top: 0;
        padding-top: 14vh;
        z-index: 998;
        transition: 0.4s left cubic-bezier(0.4, 0, 1, 1);
    }
    #mobileNav{
        background-color: #161719e0;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 6vh;
        z-index: 999;
    }
    #mobileNavLogo{
        display: inline-block;
        height: 80%;
        margin-right: 5vw;
    }
    /* Hamburger Menu */
    #mobileNavMenu{
        display: inline-block;
        height: 60%;
        margin-left: 2vw;
        aspect-ratio: 1.3/1;
        position: relative;
    }
    #mobileNavMenu span{
        display: inline-block;
        width: 100%;
        height: 10%;
        position: absolute;
        background-color: rgb(232,232,232);
        border: 0px solid transparent;
        border-radius: 10px;
        left:0;
    }
    #mobileNavMenu span:nth-child(1){
        top:0;
        transition: 0.3s transform ease-in-out, 0.3s top ease-in-out;
    }
    #mobileNavMenu span:nth-child(2){
        top: 45%;
        width: 100%;
        transition: 0.3s opacity ease-in-out, 0.3s width ease-in-out;
    }
    #mobileNavMenu span:nth-child(3){
        bottom: 0;
        transition: 0.3s transform ease-in-out, 0.3s bottom ease-in-out;
    }

    #mobileNavMenu.active span:nth-child(1){
        transform: rotate(45deg);
        top: 45%;
    }
    #mobileNavMenu.active span:nth-child(2){
        opacity: 0;
        width: 0;
    }
    #mobileNavMenu.active span:nth-child(3){
        transform: rotate(-45deg);
        bottom: 45%;
    }

    #mainNav2{
        visibility: hidden;
    }
    #mainNav a{
        display: block;
    }
    #mainNav a{
        font-size: 4vh;
        margin: 1vh;
        text-align: center;
    }
    .dropdown-link::after{
        right:10vw;
        height: 4vh;
        width: 4vh;
    }
    .dropdown-link ul{
        z-index: 999;
        width: 35vh;
        padding: 0.1vh 0.5vh 0.5vh 0.5vh;
        font-size: 3.5vh;
    }
    .dropdown-link ul li{
        padding: 0.4vh 0;
    }
    #mobileNavExit{
        height: 10vh;
        width: 100%;
        position: absolute;
        padding-bottom:2vh;
        bottom:0;
        left:0;
        background-image: url("../img/chevron-compact-down.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    #mobileNavExit:active{
        filter: invert(0.5);
    }
    .activePageLink{
        border-bottom: none;
        background-color: #494b4ee0;
    }
}