/*
    Program: site_manager.css
    Creator: William Bojczuk (wiliambojczuk@gmail.com)
    Github: https://github.com/wbojczuk
*/
body{
    background-color: #0e4d7a;
}
.button-one{
    font-size: 1.5vw;
}
#galleryContainer{
    width: 80%;
    margin-left: 10%;
    background-color: rgba(0,0,0,0);
}
/* SITE MANAGER HOMEPAGE */
#siteManagerWrapper{
    display: inline-flex;
    justify-content: center;
    width: 75%;
    min-height: 10vh;
    background-color: #021E3D;
    margin-top: 20vh;
    
}
.site-manager-option{
    display: inline-block;
    width: 20vw;
    height: 18vw;
    background-color: #0e4d7a;
    margin: 2vw;
    color: black;
    text-decoration: none;
}
.site-manager-option:hover{
    background-color:#1876b9;
}
.site-option-img{
    height: 50%;
    width: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#siteManagerWrapper .site-manager-option:nth-child(1) .site-option-img{
    background-image: url("../img/event.svg");
}
#siteManagerWrapper .site-manager-option:nth-child(2) .site-option-img{
    background-image: url("../img/gallery.svg");
}
#siteManagerWrapper .site-manager-option:nth-child(3) .site-option-img{
    background-image: url("../img/results.svg");
}
.site-option-title{
    height: 29%;
    margin-top: 20%;
    font-size: 4vw;
    font-family: "Roboto", monospace;
    text-align: center;
}
#previousPage{
    position: absolute;
    top: 5vh;
    left: 5vh;
    font-size: 1.5vw;
}

/* RESULT MANAGER (A LOT OF STYLES WERE REUSED FROM GALLERY MANAGER) */
.url-input{
    width: 70%;
}
.name-input{
    width: 29%;
}
.result-wrapperr{
    display: flex;
    justify-content: space-between;
}
div:has(#nameInput){
    display: none;
    margin-top: 3vh;
    padding-bottom: 3vh;
}
label{
    margin-left: 1vw;
    font-size: 2vw;
    font-family: 'Roboto', monospace;
}

/* Gallery Manager */
.box-link{
    overflow: hidden;
}
.box-link-no-hover:hover{
    transform: scale(1);
    border: 2px solid transparent;
}
.box-link-no-hover::after{
    display: none;
}
.box-link-no-hover::before{
    display: none;
}
.edit-folder-bar, .edit-category-bar{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    background-color:#021E3D;
    position: absolute;
    bottom:-50%;
    transition: 0.2s bottom;
    left:0;
    
}
.edit-folder-bar-top, .edit-category-bar-top{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 49%;
    background-color:#1876b9;
    position: absolute;
    top:calc(-49% - 1vh);
    transition: 0.2s bottom;
    border-bottom: 1vh solid #021E3D;
    left:0;
    background-image: url("../img/open-file.svg");
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s top;
}
.box-link:hover .edit-folder-bar-top, .box-link:hover .edit-category-bar-top{
    top:0;
}
.box-link:hover .edit-folder-bar, .box-link:hover .edit-category-bar{
    bottom:0;
}
.edit-folder-bar-top:hover, .edit-category-bar-top:hover{
    background-color: #0A2F59;
}
.edit-folder-bar div, .edit-category-bar div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 49%;
    background-color: #1876b9;
}
.edit-folder-bar div:hover, .edit-category-bar div:hover{
    background-color: #0A2F59;
}
.edit-folder-bar .edit, .edit-category-bar .edit{
    background-image: url("../img/edit.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.edit-folder-bar .delete, .edit-category-bar .delete{
    background-image: url("../img/delete.svg");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}
.manage-link-container{
    width: 100%;
    position: relative;
    margin: 0.5vh 0;
}
.manage-link{
    display: inline-block;
    width: 90%;
    padding-right: 10%;
}
.delete-link{
    display: inline-block;
    position: absolute;
    top:2%;
    right:0;
    width: 5%;
    height: 96%;
    background-color: rgb(245, 70, 70);
    background-image: url('../img/delete.svg');
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.delete-link:hover{
    background-color: rgb(177, 48, 48); 
}
.check-link{
    display: inline-block;
    position: absolute;
    top:0;
    left: -2.5vw;
    height: 100%;
    aspect-ratio: 1/1;
}
#batchDelete{
    margin-left: 2vw;
    cursor: pointer;
    visibility: hidden;
}
div.center:has(#addPhotoInput){
    display: none;
}
#addResultFinish{
    cursor: pointer;
    margin-left: 1vw;
    font-size: 2vw;
    font-family: 'Roboto', monospace;
    display: none;
}

/* EVENT MANAGER */
#addEventButton{
    margin-top: 2vw;
    font-size: 2vw;
    padding: 0.5vw 2.5vw;
}
.event-day-title{
    display: inline-block;
    margin: 5% 0 0 5%;
}

.event-wrapper{
    display: inline-block;
    width: 50%;
    margin: 1% 1%;
    aspect-ratio: 2/1;
    border: 0px solid transparent;
    position: relative;
    background-color: #021E3D;
    left: 10%;
    padding-bottom: 5vh;
    overflow-y: auto;
}

.event-wrapper .time{
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    font-weight: 600;
    color: white;
    margin: 1vw;
}
.event-wrapper .desc{
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
    margin-left: 2vw;
}

.event-edit-wrapper{
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    width: 10%;
    height: 100%;
    background-color: rgb(72, 143, 235);
}

.event-wrapper .delete-button{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 2vw;
    font-weight: 600;
    height: calc(50% - 2px);
    background-image: url("../img/delete.svg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    user-select: none;
    border-top: 2px solid #231815;
}
.event-wrapper .edit-button{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2vw;
    font-weight: 600;
    height: calc(50% - 2px);
    cursor: pointer;
    user-select: none;
    background-image: url("../img/edit.svg");
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #231815;
}
.event-wrapper .edit-button:hover, .event-wrapper .delete-button:hover{
    background-color: rgb(60, 119, 196);
}

#addEventForm{
    display: inline-block;
    width: 50vw;
    height: 50vh;
    background-color: #0A2F59;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 2%;
    color: white;
}
#addEventForm div{
    margin-top: 2%;
}
input{
    display: inline-block;
    height: 2vw;
    font-size: 1.2vw;
}
#eventDesc{
    width: 100%;
}
input[type="submit"], #cancelEventEdit{
    display: inline-block;
    height: 2vw;
    font-size: 1.2vw;
    padding: 0 2vw;
    border-radius: 5px;
    cursor: pointer;
}
#cancelEventEdit{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}
label[for="loginPass"]{
    font-family: "Roboto", monospace;
    font-size: 1.5vw;
    color: white;
}
textarea{
    font-size: 1vw;
}
.form-error{
    margin-top: 1vw;
    color: red;
    font-family: "Roboto", monospace;
    font-size: 1.5vw;
    border-bottom: 1px solid #ccc;
    padding: 0.2vw;
    background-color: rgba(0,0,0,0.3);
}
/* Mobile Styles */
@media only screen and (max-width: 600px) {
    #addEventButton{
        margin-top: 2vh;
        font-size: 2vh;
        padding: 1.5vh 3.5vh;
    }
    .event-wrapper{
        display: inline-block;
        width: 90%;
        margin: 1% 0;
        aspect-ratio: 2/1;
        left: 5%;
    }
    
    .event-wrapper .time{
        font-size: 3vh;
    }
    .event-wrapper .desc{
        font-size: 2.5vh;
        margin-left: 2vh;
    }

    #addEventForm{
        display: inline-block;
        width: 80vw;
        height: 60vh;
        font-size: 2.5vh;
    }
    input{
        height: 3vh;
        font-size: 2.2vh;
    }
    input[type="submit"], #cancelEventEdit{
        height: 3vh;
        font-size: 2.2vh;
        padding: 0 3vh;
        border-radius: 5px;
        cursor: pointer;
    }
    textarea{
        font-size: 2vh;
    }
    label[for="loginPass"]{
        font-size: 2.5vh;
    }
}