/*
    Program: gallery.css
    Creator: William Bojczuk (wiliambojczuk@gmail.com)
    Github: https://github.com/wbojczuk
    
    Description: Sets the styling for content specific to the "Gallery" page or any page containing a gallery of sorts like the "Results" page.
*/

body{
  padding-bottom: 10%;
}

/* Gallery Styles (WHILE IN FOLDERS) */
#galleryHeader a{
    color: #0A2F59;
}
#galleryContainer{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid white; */
    background-color: #0A2F59;
    padding: 5vh 0;
}
#galleryContainer span{
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#galleryContainer span::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: -1px;
    left: 10%;
    background: linear-gradient(90deg, rgba(235, 235, 235, 0.267) 0%, rgb(235, 235, 235) 25%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 75%, rgba(235, 235, 235, 0.267) 100%);
}

/* Gallery Styles (WHILE VIEWING PHOTOS) */
#photoGalleryWrapper{
    margin-top: 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}
#photoGalleryContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    height: auto;
    border: 1px solid transparent;
    column-gap: 6px;
    row-gap: 4px;
    
  }
  .photo-gallery-item{
    width: 23vw;
    height: 23vw;
    object-fit: contain;
    background-color: #0A2F59;
    position: relative;
    cursor: pointer;
    user-select: none;
    
  }
  div:has(img.photo-gallery-item){
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  .photo-gallery-img-title{
    display: inline-block;
    position: absolute;
    bottom:-25%;
    font-size: 2vw;
    left:0;
    width: 100%;
    height: 25%;
    color: white;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    transition: bottom 0.3s ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  .photo-gallery-img-title::after{
    content: "(Click to copy)";
    position: absolute;
    bottom:20%;
    left:0;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: white;
  }
  div:has(img.photo-gallery-item):hover > .photo-gallery-img-title{
    bottom:0;
  }
  .picture-gallery-desc{
    color: #0A2F59;
    display: inline-block;
    width: 60%;
    margin: 0 0 2vw 20%;
    padding-bottom: 2vw;
    font-family: "Roboto", monospace;
  }
  .picture-gallery-desc a{
    color: #0A2F59;
  }
  .gallery-footer-span{
display: inline-block;
width: 70%;
margin-left: 15%;
margin-right: 15%;
padding-bottom:0.5%;
  }

  
/* Mobile Styles */
@media only screen and (max-width: 600px) {
    #galleryHeader{
        /* margin-top: 20vh; */
    }
    #galleryContainer{
        width: 100%;
        margin-top: 2vh;
        margin-left: 0;
        /* border: 1px solid white; */
    }
    #galleryContainer span{
      margin: 1vh 0;
  }
  #galleryContainer span::after{
      display: none;
  }
    #photoGalleryContainer {
        grid-template-columns: auto auto auto;
        column-gap: 6px;
      }
      .photo-gallery-item{
        width: 30vw;
        height: 30vw;
      }
      .photo-gallery-img-title{
        bottom:-40%;
        font-size: 1.5vh;
        height: 40%;
      }
      .photo-gallery-img-title::after{
        font-size: 1.5vh;
      }
      .picture-gallery-desc{
        width: 90%;
        margin-left: 5%;
      }
      body{
        padding-bottom: 40%;
      }
      .gallery-footer-span{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding-bottom:0.5%;
          }
}